/* https://www.colorion.co/palette/87387 */
html {
  height: 100vh;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #070706;
  background-color: #E0DAAE;
}

.card {
  min-width: 90%;

  margin: 0 auto;
}

.card__eng-item {
  color: #2c8a32;
}

.card__buttons {
  margin-top: auto;
}

.hide {
  display: none;
}

button {
  background-color: #F19E18;
}

@media (min-width: 1000px) {
  body {
    font-size: 65px;
  }

  button {
    font-size: 88px;
    min-width: 80%;
  }

  .card {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;
  }

  .card__eng-item {
    font-size: 75px;
    font-weight: bold;
    font-family: sans-serif;
  }

}
