<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Простой тренажёр английских слов</title>
</head>
<style>
  *:focus {
    outline: 1px solid green;
  }
</style>
<body>
<div id="app" >{{message}}
  <p>Выбирите урок:
    <button @click="getData('https://doctorrsm.github.io/easy-english-training-script/lesson1.json')">Урок 1</button>
    <button @click="getData('https://doctorrsm.github.io/easy-english-training-script/lesson2.json')">Урок 2</button>
    <button @click="getData('https://doctorrsm.github.io/easy-english-training-script/lesson3.json')">Урок 3</button>
  </p>

  <p>{{ russian }}</p>
  <p>
    <input class="input" v-model="input" v-on:keydown.enter="onEnter()" style="width: 100%;" type="text" name="englishInput" id="">
  </p>
  <p  v-if="buttonVisible"> {{ english }}</p>
  <button class="say" @click="say()">{{button1}}</button>
  <button class="next" @click="next()" >{{button2}}</button>
  <p>Осталось предложений: {{leftWords}}</p>
</div>


<script src="https://unpkg.com/vue@3"></script>
<script src="main.js"></script>
</body>
</html>
